<%- include("partials/header") %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 main-head" style="text-align: center;padding-bottom: 1.2rem;
        ">TOURNAMEX</h1>
        
        <div class="row">
            <div class="col-sm-8">
                <p class="lead head-desc">Fair Play Policy</p>
                <p class="lead head-small">
                    <strong>Tournamex</strong> Reserves right to cancel any match at anytime without any prior notice or reason.
                </p>
                <p class="lead head-small">In case the investigators or spectators find any suspicious player in the gameplay, Tournamex reserves the right to disqualify, suspend or put the doer's account on hold and also cancel their winning prizes or amount.</p>
                <p class="lead head-small">In case of any technical glitch, the match may get cancelled and in such cases the entry fees will be refunded to the participants or re-match may take place.</p>
                <p class="lead head-small">In case any player fails to submit correct details while participating in any match then the reward/prize amount will be cancelled for that player and no refund will be processed.</p>
                <p class="lead head-small">Players are not allowed to use any Mod or Hack in the Gameplay. If anyone is found suspicious, immediate action will be taken, the account will be suspended, all the pending withdrawals will be cancelled and wallet balance will become useless.</p>
                <p class="lead head-small">Mis-using any in-game glitches or errors will result in disqualification of that player from the match and no reward for the same match will be considered.</p>
                <p class="lead head-small">Do not use any Emulator to Play in non-emulator matches. Such players will be kicked and if remains un-kicked then they may not get the match rewards/prizes.</p>
                <p class="lead head-small">Participants need to make sure to grab Match Details such as Room ID and Password before the match start time. The Room Id and Password are shared in the app and also through SMS. Grab them and join the room quickly. In case the participants fail to join the room before the match start time, they won't be able to join the match lateron and no refund will be processed for the same.</p>
                <p class="lead head-small">In case participants fail to join the room due to any external issues from participants end (incl. Slow internet, multi-tasking, minimizing PUBG Mobile, Receiving Calls or SMS, etc.) then no refund will be processed.</p>
                <p class="lead head-small">
                    Before participating in any match at Tournamex, you agree to the Fair Play Policy and accept it.
                </p>
            </div>
            <div class="col-sm-4">
                
            </div>
        </div>    
        





    </div>
</div>



<%- include("partials/footer") %>