<%- include("../partials/header") %>
<div class="container">
    <h1 class="display-4 main-head" style="padding-top: 5rem;
    padding-left: 25rem;">TOURNAMEX</h1>




</div>



<%- include("../partials/footer") %>